<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>数据统计</title>

    <!--dynamic table-->
    <link href="js/advanced-datatable/css/demo_page.css" rel="stylesheet" />
    <link href="js/advanced-datatable/css/demo_table.css" rel="stylesheet" />
    <link rel="stylesheet" href="js/data-tables/DT_bootstrap.css" />

    <div th:include="common/admin_common :: common_head"></div>

</head>

<body class="sticky-header">

<section>
    <!-- left side start-->
    <div th:replace="common/admin_common :: #left"></div>
    <!-- left side end-->

    <!-- main content start-->
    <div class="main-content" >

        <!-- header section start-->
        <div th:replace="common/admin_common :: #head"></div>
        <!-- header section end-->

        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                数据统计
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a th:href="@{/admin}">Dashboard</a>
                </li>
                <li class="active">数据统计</li>
            </ul>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper">

            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                            登录数统计    |总登陆数：[[${allCountNum}]]
                            <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                            <a href="javascript:;" class="fa fa-times"></a>
                         </span>
                        </header>
                        <div class="panel-body">
                            <div id="graph-line"></div>
                        </div>
                    </section>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <section class="panel">
                            <header class="panel-heading">
                                课程播放统计 |总播放数：[[${allViews}]]
                                <span class="tools pull-right">
                            <a href="javascript:;" class="fa fa-chevron-down"></a>
                            <a href="javascript:;" class="fa fa-times"></a>
                         </span>
                            </header>
                            <div class="panel-body">
                                <div id="graph-bar"></div>
                                <div class="row col-xs-12 col-sm-12">
                                    <nav aria-label="Page navigation" style="text-align:center">
                                        <ul class="pagination pagination-lg">
                                          <p>点击查看其它课程播放量</p>  <li th:class="${num == page.current ? 'active' : ''}" th:each="num : ${#numbers.sequence(1,page.pages)}"><button id="courseViewBtn" th:pn="${num}" >[[${num}]]</button></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>

                        </section>

                    </div>

                </div>
            </div>

        </div>
        <!--body wrapper end-->
        <!--body wrapper end-->

        <!--footer section start-->
        <footer>
            2020 &copy; AdminEx by ThemeBucket </a>
        </footer>
        <!--footer section end-->


    </div>
    <!-- main content end-->
</section>

<div th:include="common/admin_common :: common_js"></div>

<!--dynamic table-->
<script type="text/javascript" language="javascript" src="js/advanced-datatable/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="js/data-tables/DT_bootstrap.js"></script>
<!--dynamic table initialization -->
<script src="js/dynamic_table_init.js"></script>
<!--Morris Chart-->
<script src="js/morris-chart/morris.js"></script>
<script src="js/morris-chart/raphael-min.js"></script>
<!--<script src="js/morris-chart/morris.init.js"></script>-->

<script>
<!--登陆数图表-->
    $(document).ready(function() {
        $.ajax({
            url: "/getLoginCount",
            dataType: "json",
            type: "GET",
            async: false,
            success: function (result) {
                console.log(result);
                Morris.Line({
                    element: 'graph-line',
                    data: result,
                    xkey: 'elapsed',
                    ykeys: ['value'],
                    labels: ['value'],
                    lineColors: ['#1FB5AD'],
                    parseTime: false
                });
            }
        })
    });
$(document).ready(function() {
    $.ajax({
        url: "/getCoursePlayCount",
        dataType: "json",
        type: "GET",
        async: false,
        success: function (result) {
            console.log(result);
            Morris.Bar({
                element: 'graph-bar',
                data: result,
                xkey: 'x',
                ykeys: ['y'],
                labels: ['Y'],
                barColors:['#414e62'],
                gridTextSize:12

            });
        }
    })
});

$(document).on("click","#courseViewBtn",function () {
    $("#graph-bar").empty();
    let pn = $(this).attr("pn");
    $.ajax({
        url: "/getCoursePlayCount?pn="+pn,
        dataType: "json",
        type: "GET",
        async: false,
        success: function (result) {
            console.log(result);
            Morris.Bar({
                element: 'graph-bar',
                data: result,
                xkey: 'x',
                ykeys: ['y'],
                labels: ['Y'],
                barColors:['#414e62'],
                gridTextSize:12

            });
        }
    })
})
$("#next").click(function (){

})


</script>


</body>
</html>
