<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>课程管理</title>

    <!--data table-->
    <link rel="stylesheet" href="js/data-tables/DT_bootstrap.css" />

    <div th:include="common/admin_common :: common_head"></div>
</head>

<body class="sticky-header">

<section>
    <!-- left side start-->
    <div th:replace="common/admin_common :: #left"></div>
    <!-- left side end-->

    <!-- main content start-->
    <div class="main-content" >

        <!-- header section start-->
        <div th:replace="common/admin_common :: #head"></div>
        <!-- header section end-->

        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                课程管理
            </h3>
            <ul class="breadcrumb">
                <ul class="breadcrumb">
                <li>
                    <a th:href="@{/admin}">admin</a>
                </li>
                <li class="active"> 课程管理 </li>
            </ul>
            </ul>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                            课程列表
                            <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                        <a href="javascript:;" class="fa fa-times"></a>
                     </span>
                        </header>
                        <div class="panel-body">
                            <div class="adv-table editable-table ">
                                <div class="clearfix">
                                    <div class="btn-group">
                                        <button id="addnbutton" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                                           添加新课程 <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
                                    <!--                                    add button start-->
                                    <!-- Modal -->
                                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">添加新课程</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <!--                                                    add new form start-->
                                                    <form id="form" class="form-horizontal" method="post" enctype="multipart/form-data" >
                                                        <div class="form-group">
                                                            <label for="inputCourseName" class="col-sm-2 control-label">CourseName</label>
                                                            <div class="col-sm-10">
                                                                <input type="text" name="courseName" class="form-control" id="inputCourseName" placeholder="CourseName">
                                                                <span class="help_block"></span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="inputTeachName" class="col-sm-2 control-label">TeacherName</label>
                                                            <div class="col-sm-10">
                                                                <select class="form-control" id="inputTeachName"  name="teachId"></select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="inputCourseType" class="col-sm-2 control-label">CourseType</label>
                                                            <div class="col-sm-10">
                                                                <select class="form-control" id="inputCourseType"  name="courseType"></select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="inputCourseDetail" class="col-sm-2 control-label">CourseDetail</label>
                                                            <div class="col-sm-10">
                                                                <input type="text" name="courseDetail" class="form-control" id="inputCourseDetail" placeholder="CourseDetail">
                                                                <span class="help_block"></span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="inputCoursePhoto" class="col-sm-2 control-label">Photo</label>
                                                            <div class="col-sm-10">
                                                                <input type="file" id="inputCoursePhoto"  class="form-control" name="coursePhoto">
                                                                <span class="help_block"></span>
                                                                <p class="help-block">请选择头像上传</p>
                                                            </div>
                                                        </div>
                                                    </form>
                                                    <!--                                                    add new form end-->
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                                    <button type="button" class="btn btn-primary" id="saveCourse">保存</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--                                    add button end-->
                                    <!--                                    edit button start-->
                                    <!-- Modal -->
                                    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="editModalLabel">修改课程信息</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <!--                                                    add new form start-->
                                                    <form id="editForm" class="form-horizontal" method="post" enctype="multipart/form-data" >
                                                        <div class="form-group">
                                                            <label for="editCourseName" class="col-sm-2 control-label">CourseName</label>
                                                            <div class="col-sm-10">
                                                                <input type="text" name="editCourseName" class="form-control" id="editCourseName" placeholder="CourseName">
                                                                <span class="help_block"></span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="editTeachName" class="col-sm-2 control-label">TeacherName</label>
                                                            <div class="col-sm-10">
                                                                <select class="form-control" id="editTeachName"  name="editTeachId"></select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="inputCourseType" class="col-sm-2 control-label">CourseType</label>
                                                            <div class="col-sm-10">
                                                                <select class="form-control" id="editCourseType"  name="editCourseType"></select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="editCourseDetail" class="col-sm-2 control-label">CourseDetail</label>
                                                            <div class="col-sm-10">
                                                                <input type="text" name="editCourseDetail" class="form-control" id="editCourseDetail" placeholder="CourseDetail">
                                                                <span class="help_block"></span>
                                                            </div>
                                                        </div>
                                                    </form>
                                                    <!--                                                    add new form end-->
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                                    <button type="button" class="btn btn-primary" id="editSave">保存</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--                                    edit button end-->
                                    <!--                                    edit button start-->
                                    <!-- Modal -->
                                    <div class="modal fade" id="editPhotoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="editPhotoModalLabel">修改封面</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <!--                                                    add new form start-->
                                                    <form id="editPhotoForm" class="form-horizontal" method="post" enctype="multipart/form-data" >

                                                        <div class="form-group">
                                                            <label for="editPhoto" class="col-sm-2 control-label">Photo</label>
                                                            <input type="hidden" name="courseId" id="editPhotoId">
                                                            <div class="col-sm-10">
                                                                <input type="file" id="editPhoto"  class="form-control" name="coursePhoto">
                                                                <span class="help_block"></span>
                                                                <p class="help-block">请选择封面上传</p>
                                                            </div>
                                                        </div>
                                                    </form>
                                                    <!--                                                    add new form end-->
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                                    <button type="button" class="btn btn-primary" id="editPhotoSave">保存</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--                                    edit button end-->
                                </div>
                                <div class="space15"></div>
                                <table class="table table-striped table-hover table-bordered" id="editable-sample">
                                    <thead>
                                    <tr>
                                        <th>Photo</th>
                                        <th>CourseId</th>
                                        <th>CourseName</th>
                                        <th>TeachName</th>
                                        <th>CourseType</th>
                                        <th>Detail</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                        <th>VideoEdit</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="" th:each="course,index : ${allCourse}">
                                        <td width="160px" height="110px"><img th:src="${course.coursePhoto}" th:courseId="${course.courseId}" data-toggle="modal" data-target="#editPhotoModal" id="coursePhoto" class="" width="150px" height="100px" ></td>
                                        <td th:text="${course.courseId}"></td>
                                        <td th:text="${course.courseName}"></td>
                                        <td th:text="${allTeacherName[index.count-1]}"></td>
                                        <td th:text="${course.courseType}"></td>
                                        <td th:text="${course.detail}"></td>
                                        <td><button type="button" id="editCourse" th:courseId="${course.courseId}" data-toggle="modal" data-target="#editModal" class="btn btn-info">修改课程信息</button></td>
                                        <td><button type="button" id="deleteCourse" th:courseId="${course.courseId}" class="btn btn-warning">删除课程</button></td>
                                        <td><button type="button" id="editVideo" th:courseId="${course.courseId}" class="btn btn-primary">视频管理</button></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <!--body wrapper end-->

        <!--footer section start-->
        <footer>
            2020 &copy; AdminEx by ThemeBucket </a>
        </footer>
        <!--footer section end-->


    </div>
    <!-- main content end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="js/jquery-migrate-1.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/modernizr.min.js"></script>
<script src="js/jquery.nicescroll.js"></script>

<!--data table-->
<script type="text/javascript" src="js/data-tables/jquery.dataTables.js"></script>
<script type="text/javascript" src="js/data-tables/DT_bootstrap.js"></script>

<!--common scripts for all pages-->
<script src="js/scripts.js"></script>

<!--script for editable table-->
<script src="js/editable-table.js"></script>

<!-- END JAVASCRIPTS -->
<script>
    jQuery(document).ready(function() {
        EditableTable.init();
    });
    //显示校验信息方法
    function show_validate_msg(ele,status,msg){
        $(ele).parent().removeClass("has-error has-success");
        $(ele).next("span").text("");
        if ("success"==status){
            $(ele).parent().addClass("has-success");
            $(ele).next("span").text(msg);
        }else if ("error"==status){
            $(ele).parent().addClass("has-error");
            $(ele).next("span").text(msg);
        }
    }
    //校验表单数据
    function validate_add_form(){
        //    拿到校验数据，使用正则表达式
        let inputCourseName = $("#inputCourseName").val();
        let regCourseName = /^[0-9A-Za-z\u4E00-\u9FFF]{2,20}$/;
        if(!regCourseName.test(inputCourseName)){
            // alert("昵称格式为2-6位中英文混合");
            show_validate_msg("#inputCourseName","error","课程名格式为2-20位中英文数字组合");
            return false;
        }else {
            show_validate_msg("#inputCourseName","success","");
        }

        let inputCourseDetail = $("#inputCourseDetail").val();
        let regTeachEmail = /^.{2,100}$/;
        if(!regTeachEmail.test(inputCourseDetail)){
            show_validate_msg("#inputCourseDetail","error","课程简介限制长度为2-100位");
            return false;
        }else {
            show_validate_msg("#inputCourseDetail","success","");
        }
        let inputCoursePhoto = $("#inputCoursePhoto").val();
        let regPhoto = /^.*?\.(jpg|png)$/;
        if(!regPhoto.test(inputCoursePhoto)){
            show_validate_msg("#inputCoursePhoto","error","请传入【.jpg】或【.png】格式图片");
            return false;
        }else {
            show_validate_msg("#inputTeachPhoto","success","");
        }

        return true;

    }

    function validate_edit_form(){

        let editCourseName = $("#editCourseName").val();
        let regNickName = /^[0-9A-Za-z\u4E00-\u9FFF]{2,20}$/;
        if(!regNickName.test(editCourseName)){
            // alert("昵称格式为2-6位中英文混合");
            show_validate_msg("#editCourseName","error","课程名格式为2-20位中英文数字组合");
            return false;
        }else {
            show_validate_msg("#editCourseName","success","");
        }

        let editCourseDetail = $("#editCourseDetail").val();
        let regEmail = /^.{2,100}$/;
        if(!regEmail.test(editCourseDetail)){
            show_validate_msg("#editCourseDetail","error","课程简介限制长度为2-100位");
            return false;
        }else {
            show_validate_msg("#editCourseDetail","success","");
        }
        return true;

    }

    function photo_edit_form(){
        let exampleInputFile = $("#editPhoto").val();
        let regPhoto = /^.*?\.(jpg|png)$/;
        if(!regPhoto.test(exampleInputFile)){
            show_validate_msg("#editPhoto","error","请传入【.jpg】或【.png】格式图片");
            return false;
        }else {
            show_validate_msg("#editPhoto","success","");
        }

        return true;
    }




    $("#addnbutton").click(function () {
        getTeacherName();
        getCourseType();
    })

//    查出所有讲师姓名并显示在下拉列表中
    function getTeacherName(){
        //先清空之前的属性
        $("#inputTeachName").empty();
        $.ajax({
            url:"/tname",
            type:"GET",
            success:function (result) {
                // console.log(result);
            //    显示到下拉列表中
                $.each(result.extend.allTeacher,function(){
                    let optionEle = $("<option></option>").append(this.teachName).attr("value",this.teachId);
                        optionEle.appendTo("#inputTeachName");
                })
            }
        })
    }
    //    查出所有课程类型并显示在下拉列表中
    function getCourseType(){
        $("#inputCourseType").empty();
        $.ajax({
            url:"/courseType",
            type:"GET",
            success:function (result) {
                // console.log(result);
                //    显示到下拉列表中
                $.each(result.extend.coursess,function(){
                    let optionEle = $("<option></option>").append(this.courseType).attr("value",this.courseType);
                    optionEle.appendTo("#inputCourseType");
                })
            }
        })
    }
    //添加课程
    $("#saveCourse").click(function(){
        //    模态框填写表单数据交给服务器
        //    进行校验
        if(!validate_add_form()){
            return false;
        }
        //    发送ajax请求保存讲师
        let form = document.getElementById("form");
        let formdata = new FormData(form);
        // alert(formdata.get("teachPhoto"))
        $.ajax({
            url:"/course_manager",
            type:"POST",
            data: formdata,
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            success:function(result){
                //提示信息
                alert(result.msg);
                //隐藏模态框
                $("#myModal").modal('hide');
                //清除模态框数据
                $(':input','#form')
                    .not(':button, :submit, :reset, :hidden')
                    .val('')
                    .removeAttr('checked')
                    .removeAttr('selected');
                //重新载入界面
                window.location.reload();
            }
        })

    })
    //    回显课程信息
    $(document).on("click","#editCourse",function () {
        $("#editCourseName").parent().removeClass("has-error has-success");
        $("#editCourseName").next("span").text("");
        $("#editCourseDetail").parent().removeClass("has-error has-success");
        $("#editCourseDetail").next("span").text("");

        let teachId = $(this).attr("teachId");
        let courseId = $(this).attr("courseId");
        getEditTeacherName();
        getEditCourseType();
        getCourse(courseId);
        $("#editSave").attr("courseId",courseId);
    })

    //    修改课程信息
    $(document).on("click","#editSave",function () {
        if(!validate_edit_form()){
            return false;
        }
        let courseId = $(this).attr("courseId");
        // alert(formdata.get("userPhoto"))
        $.ajax({
            url:"/editCourse/"+courseId,
            type:"POST",
            data: $("#editForm").serialize(),
            success:function(result){
                //提示信息
                alert(result.msg);
                //隐藏模态框
                $("#editModal").modal('hide');
                //清除模态框数据
                $(':input','#editForm')
                    .not(':button, :submit, :reset, :hidden')
                    .val('')
                    .removeAttr('checked')
                    .removeAttr('selected');
                //重新载入界面
                window.location.reload();
            }
        })
    })
    function getCourse(courseId){
        $.ajax({
            url:"/selectCourse/"+courseId,
            type:"GET",
            success:function(result){
                console.log(result);
                $("#editCourseName").val(result.courseName);
                $("#editCourseType").val(result.courseType);
                $("#editCourseDetail").val(result.detail);
                $("#editTeachName").val(result.teachId);
            }
        })
    }
    //    查出所有讲师姓名并显示在下拉列表中
    function getEditTeacherName(){
        $("#editTeachName").empty();
        $.ajax({
            url:"/tname",
            type:"GET",
            success:function (result) {
                // console.log(result);
                //    显示到下拉列表中
                $.each(result.extend.allTeacher,function(){
                    let optionEle = $("<option></option>").append(this.teachName).attr("value",this.teachId);
                    optionEle.appendTo("#editTeachName");
                })
            }
        })
    }
    //    查出所有课程类型并显示在下拉列表中
    function getEditCourseType(){
        $("#editCourseType").empty();
        $.ajax({
            url:"/courseType",
            type:"GET",
            success:function (result) {
                // console.log(result);
                //    显示到下拉列表中
                $.each(result.extend.coursess,function(){
                    let optionEle = $("<option></option>").append(this.courseType).attr("value",this.courseType);
                    optionEle.appendTo("#editCourseType");
                })
            }
        })
    }
    //删除课程
    $(document).on("click","#deleteCourse",function () {
        //确认是否删除
        let courseName = $(this).parents("tr").find("td:eq(2)").text();
        let courseId = $(this).attr("courseId");
        // alert(userId);

        if (confirm("确认删除课程["+courseName+"]吗？")){
            //    确认就删除
            $.ajax({
                url:"/course_manager/"+courseId,
                type:"DELETE",
                success:function(result){
                    alert(result.msg);
                    //重新载入界面
                    window.location.reload();
                }

            })
        }
    })
    //修改封面
    $(document).on("click","#coursePhoto",function () {
        $("#editPhoto").parent().removeClass("has-error has-success");
        $("#editPhoto").next("span").text("");
        let courseId = $(this).attr("courseId");
        $("#editPhotoSave").attr("courseId",courseId);

        $("#editPhotoId").attr("courseId",courseId);
    })
    $(document).on("click","#editPhotoSave",function () {
        if(!photo_edit_form()){
            return false;
        }
        let courseId = $(this).attr("courseId");
        let form = document.getElementById("editPhotoForm");
        var formdata = new FormData(form);
        // alert(formdata.get("userPhoto"))
        $.ajax({
            url:"/course_edit_photo/"+courseId,
            type:"POST",
            data: formdata,
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            success:function(result){
                //提示信息
                alert(result.msg);
                //隐藏模态框
                $("#editPhotoModal").modal('hide');
                //清除模态框数据
                $(':input','#editPhotoForm')
                    .not(':button, :submit, :reset, :hidden')
                    .val('')
                    .removeAttr('checked')
                    .removeAttr('selected');
                //重新载入界面
                window.location.reload();
            }
        })

    })
    //点击进入课程视频修改界面
    $(document).on("click","#editVideo",function () {
        let courseId = $(this).attr("courseId");
        window.location.href="/course_video_manager?courseId="+courseId;
    })
</script>

</body>
</html>
