<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>用户管理</title>

    <!--data table-->
    <link rel="stylesheet" href="js/data-tables/DT_bootstrap.css" />

    <div th:include="common/admin_common :: common_head"></div>
</head>

<body class="sticky-header">

<section>
    <!-- left side start-->
    <div th:replace="common/admin_common :: #left"></div>
    <!-- left side end-->

    <!-- main content start-->
    <div class="main-content" >

        <!-- header section start-->
        <div th:replace="common/admin_common :: #head"></div>
        <!-- header section end-->

        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                用户管理页面
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a th:href="@{/admin}">admin</a>
                </li>
                <li class="active"> 用户管理 </li>
            </ul>
        </div>
        <!-- page heading end-->

        <!--body wrapper start-->
        <div class="wrapper">
            <div class="row">
                <div class="col-sm-12">
                    <section class="panel">
                        <header class="panel-heading">
                            用户列表
                            <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down"></a>
                        <a href="javascript:;" class="fa fa-times"></a>
                     </span>
                        </header>
                        <div class="panel-body">
                            <div class="adv-table editable-table ">
                                <div class="clearfix">
                                    <div class="btn-group">
<!--                                        <button id="editable-sample_new" class="btn btn-primary" data-toggle="modal" data-target="#myModal">-->
                                        <button id="addnbutton" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                                            添加新用户 <i class="fa fa-plus"></i>
                                        </button>
                                    </div>
<!--                                    add button start-->
                                    <!-- Modal -->
                                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel">添加用户</h4>
                                                </div>
                                                <div class="modal-body">
<!--                                                    add new form start-->
                                                    <form id="form" class="form-horizontal" method="post" enctype="multipart/form-data" >
                                                        <div class="form-group">
                                                            <label for="inputUsername" class="col-sm-2 control-label" >Nickname</label>
                                                            <div class="col-sm-10">
                                                                <input type="text" class="form-control" id="inputNickname"  name="nickName" placeholder="昵称可以2-6位中英文混合">
                                                                <span class="help_block"></span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="inputUsername" class="col-sm-2 control-label">Username</label>
                                                            <div class="col-sm-10">
                                                                <input type="text" name="userName" class="form-control" id="inputUsername" placeholder="用户名可以3-16位数字英文组合">
                                                                <span class="help_block"></span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                                                            <div class="col-sm-10">
                                                                <input type="password" name="password" class="form-control" id="inputPassword3" placeholder="用户名可以6-18位数字英文组合">
                                                                <span class="help_block"></span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                                                            <div class="col-sm-10">
                                                                <input type="email" name="userEmail" class="form-control" id="inputEmail" placeholder="邮箱格式为xxxx@xx.xxx">
                                                                <span class="help_block"></span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="inputPhone" class="col-sm-2 control-label">Phone</label>
                                                            <div class="col-sm-10">
                                                                <input type="text" name="userPhone" class="form-control" id="inputPhone" placeholder="十一位手机号">
                                                                <span class="help_block"></span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="exampleInputFile" class="col-sm-2 control-label">Photo</label>
                                                            <div class="col-sm-10">
                                                                <input type="file" id="exampleInputFile"  class="form-control" name="userPhoto">
                                                                <span class="help_block"></span>
                                                                <p class="help-block">请选择头像上传（仅支持【.jpg】和【.png】格式文件）</p>
                                                            </div>
                                                        </div>

<!--                                                        <div class="form-group">-->
<!--                                                            <label for="exampleInputFile">Photo</label>-->
<!--                                                            <div class="col-sm-10">-->
<!--                                                                <input type="file" id="exampleInputFile" name="userPhone">-->
<!--                                                                <p class="help-block">请选择头像上传</p>-->
<!--                                                            </div>-->

<!--                                                        </div>-->
                                                    </form>
<!--                                                    add new form end-->
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                                    <button type="button" class="btn btn-primary" id="saveUser">保存</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
<!--                                    add button end-->
<!--                                    edit button start-->
                                    <!-- Modal -->
                                    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="editModalLabel">修改用户</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <!--                                                    add new form start-->
                                                    <form id="editForm" class="form-horizontal" method="post" enctype="multipart/form-data" >
                                                        <div class="form-group">
                                                            <label for="editNickname" class="col-sm-2 control-label" >Nickname</label>
                                                            <div class="col-sm-10">
                                                                <input type="text" class="form-control" id="editNickname"  name="nickName" placeholder="Nickname">
                                                                <span class="help_block"></span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="editUsername" class="col-sm-2 control-label">Username</label>
                                                            <div class="col-sm-10">
                                                                <p type="text" name="userName" class="form-control-static" id="editUsername" >
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="editPassword" class="col-sm-2 control-label">Password</label>
                                                            <div class="col-sm-10">
                                                                <p type="password" name="password" class="form-control-static" id="editPassword" placeholder="Password">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="editEmail" class="col-sm-2 control-label">Email</label>
                                                            <div class="col-sm-10">
                                                                <input type="email" name="userEmail" class="form-control" id="editEmail" placeholder="Email">
                                                                <span class="help_block"></span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="editPhone" class="col-sm-2 control-label">Phone</label>
                                                            <div class="col-sm-10">
                                                                <input type="text" name="userPhone" class="form-control" id="editPhone" placeholder="Phone">
                                                                <span class="help_block"></span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="notAdmin" class="col-sm-2 control-label">Authority</label>
                                                            <div class="col-sm-10">
                                                                <input type="radio" name="authority" class="optionsRadios2" id="admin" placeholder="Phone" value="1">1
                                                                <input type="radio" name="authority" class="optionsRadios2" id="notAdmin" checked placeholder="Phone" value="0">0
                                                            </div>
                                                        </div>
                                                     </form>
                                                    <!--                                                    add new form end-->
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                                    <button type="button" class="btn btn-primary" id="editSave">保存</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
<!--                                    edit button end-->
                                    <!--                                    edit button start-->
                                    <!-- Modal -->
                                    <div class="modal fade" id="editPhotoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="editPhotoModalLabel">修改头像</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <!--                                                    add new form start-->
                                                    <form id="editPhotoForm" class="form-horizontal" method="post" enctype="multipart/form-data" >

                                                        <div class="form-group">
                                                            <label for="editPhoto" class="col-sm-2 control-label">Photo</label>
                                                            <input type="hidden" name="userId" id="editPhotoId">
                                                            <div class="col-sm-10">
                                                                <input type="file" id="editPhoto"  class="form-control" name="userPhoto">
                                                                <span class="help_block"></span>
                                                                <p class="help-block">请选择头像上传（只支持【.jpg】或【.png】格式图片）</p>
                                                            </div>
                                                        </div>
                                                      </form>
                                                    <!--                                                    add new form end-->
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                                    <button type="button" class="btn btn-primary" id="editPhotoSave">保存</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--                                    edit button end-->
<!--                                    <div class="btn-group pull-right">-->
<!--                                        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">Tools <i class="fa fa-angle-down"></i>-->
<!--                                        </button>-->
<!--                                        <ul class="dropdown-menu pull-right">-->
<!--                                            <li><a href="#">Print</a></li>-->
<!--                                            <li><a href="#">Save as PDF</a></li>-->
<!--                                            <li><a href="#">Export to Excel</a></li>-->
<!--                                        </ul>-->
<!--                                    </div>-->
                                </div>
                                <div class="space15"></div>
                                <table class="table table-striped table-hover table-bordered" id="editable-sample">
                                    <thead>
                                    <tr>
                                        <th>Photo</th>
                                        <th>UserId</th>
                                        <th>Nickname</th>
                                        <th>Username</th>
                                        <th>Password</th>
                                        <th>Phone</th>
                                        <th>email</th>
                                        <th>authority(admin=1,user=0)</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="" th:each="user : ${alluser}">
                                        <td ><img th:src="${user.userPhoto}" th:userId="${user.userId}" data-toggle="modal" data-target="#editPhotoModal" id="userPhoto" class="img-circle" width="50px" height="50px" ></td>
                                        <td th:text="${user.userId}"></td>
                                        <td th:text="${user.nickname}"></td>
                                        <td th:text="${user.userName}"></td>
                                        <td th:text="${user.password}"></td>
                                        <td th:text="${user.userPhone}"></td>
                                        <td th:text="${user.userEmail}"></td>
                                        <td th:text="${user.authority}"></td>
<!--                                        <td class="center">Lorem ipsume</td>-->
<!--                                        <td><a class="edit" href="javascript:;">Edit</a></td>-->
                                        <td><button type="button" id="editUser" th:userId="${user.userId}" data-toggle="modal" data-target="#editModal" class="btn btn-info">修改</button></td>
<!--                                        <td><a class="delete" id="deleteUser">Delete</a></td>-->
                                        <td><button type="button" id="deleteUser" th:userId="${user.userId}" class="btn btn-warning">删除</button></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <!--body wrapper end-->

        <!--footer section start-->
        <footer>
            2020 &copy; AdminEx by ThemeBucket </a>
        </footer>
        <!--footer section end-->


    </div>
    <!-- main content end-->
</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="js/jquery-migrate-1.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/modernizr.min.js"></script>
<script src="js/jquery.nicescroll.js"></script>

<!--data table-->
<script type="text/javascript" src="js/data-tables/jquery.dataTables.js"></script>
<script type="text/javascript" src="js/data-tables/DT_bootstrap.js"></script>

<!--common scripts for all pages-->
<script src="js/scripts.js"></script>

<!--script for editable table-->
<script src="js/editable-table.js"></script>

<!-- END JAVASCRIPTS -->
<script>
    jQuery(document).ready(function() {
        EditableTable.init();
    });

    //显示校验信息方法
    function show_validate_msg(ele,status,msg){
        $(ele).parent().removeClass("has-error has-success");
        $(ele).next("span").text("");
        if ("success"==status){
            $(ele).parent().addClass("has-success");
            $(ele).next("span").text(msg);
        }else if ("error"==status){
            $(ele).parent().addClass("has-error");
            $(ele).next("span").text(msg);
        }
    }
    //校验表单数据
    function validate_add_form(){
    //    拿到校验数据，使用正则表达式
                    let inputNickname = $("#inputNickname").val();
                    let regNickName = /^[0-9A-Za-z\u4E00-\u9FFF]{2,6}$/;
                    if(!regNickName.test(inputNickname)){
                        // alert("昵称格式为2-6位中英文混合");
                        show_validate_msg("#inputNickname","error","昵称格式为2-6位中英文混合");
                        return false;
                    }else {
                        show_validate_msg("#inputNickname","success","");
                    }

                    let inputUsername = $("#inputUsername").val();
                    let regUserName = /(^[a-z0-9_-]{3,16}$)/;

                    $.ajax({
                        url:"/userIsHas?userName="+inputUsername,
                        type:"GET",
                        success:function (result) {
                            if (result== 0){
                                show_validate_msg("#inputUsername","error","用户名已被占用，请更换用户名");
                                return false;
                            }
                        }
                    })

                    if(!regUserName.test(inputUsername)){
                        show_validate_msg("#inputUsername","error","用户名格式为3-16位英文数字混合");
                        return false;
                    }else {
                        show_validate_msg("#inputUsername","success","");
                    }


                    let inputPassword3 = $("#inputPassword3").val();
                    let regPassword = 	/^[a-z0-9_-]{6,18}$/;
                    if(!regPassword.test(inputPassword3)){
                        show_validate_msg("#inputPassword3","error","密码格式为6-18位英文数字混合");
                         return false;
                     }else {
                         show_validate_msg("#inputPassword3","success","");
                     }
                    let inputEmail = $("#inputEmail").val();
                    let regEmail = /^([a-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})$/;
                    if(!regEmail.test(inputEmail)){
                            show_validate_msg("#inputEmail","error","请输入正确邮箱格式");
                            return false;
                    }else {
                            show_validate_msg("#inputEmail","success","");
                    }
                    let inputPhone = $("#inputPhone").val();
                    let regPhone = /^[1]([3-9])[0-9]{9}$/;
                    if(!regPhone.test(inputPhone)){
                        show_validate_msg("#inputPhone","error","请输入正确号段的手机号");
                        return false;
                    }else {
                        show_validate_msg("#inputPhone","success","");
                    }
                    let exampleInputFile = $("#exampleInputFile").val();
                    let regPhoto = /^.*?\.(jpg|png)$/;
                    if(!regPhoto.test(exampleInputFile)){
                        show_validate_msg("#exampleInputFile","error","请传入【.jpg】或【.png】格式图片");
                        return false;
                    }else {
                        show_validate_msg("#exampleInputFile","success","");
                    }

                    return true;

    }

    function validate_edit_form(){

        let inputNickname = $("#editNickname").val();
        let regNickName = /^[0-9A-Za-z\u4E00-\u9FFF]{2,6}$/;
        if(!regNickName.test(inputNickname)){
            // alert("昵称格式为2-6位中英文混合");
            show_validate_msg("#editNickname","error","昵称格式为2-6位中英文混合");
            return false;
        }else {
            show_validate_msg("#editNickname","success","");
        }

        let inputEmail = $("#editEmail").val();
        let regEmail = /^([a-z0-9_\.-]+)@([\da-z\.-]+)\.([a-z\.]{2,6})$/;
        if(!regEmail.test(inputEmail)){
            show_validate_msg("#editEmail","error","请输入正确邮箱格式");
            return false;
        }else {
            show_validate_msg("#editEmail","success","");
        }
        let inputPhone = $("#editPhone").val();
        let regPhone = /^[1]([3-9])[0-9]{9}$/;
        if(!regPhone.test(inputPhone)){
            show_validate_msg("#editPhone","error","请输入正确号段的手机号");
            return false;
        }else {
            show_validate_msg("#editPhone","success","");
        }

        return true;

    }

    function photo_edit_form(){
        let exampleInputFile = $("#editPhoto").val();
        let regPhoto = /^.*?\.(jpg|png)$/;
        if(!regPhoto.test(exampleInputFile)){
            show_validate_msg("#editPhoto","error","请传入【.jpg】或【.png】格式图片");
            return false;
        }else {
            show_validate_msg("#editPhoto","success","");
        }

        return true;
    }


    $("#saveUser").click(function(){
    //    模态框填写表单数据交给服务器
    //    进行校验
        if(!validate_add_form()){
            return false;
        }
    //    发送ajax请求保存员工
        let form = document.getElementById("form");
        var formdata = new FormData(form);
      // alert(formdata.get("userPhoto"))
        $.ajax({
            url:"/user_manager",
            type:"POST",
            data: formdata,
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            success:function(result){
                //提示信息
                alert(result.msg);
                //隐藏模态框
                $("#myModal").modal('hide');
                //清除模态框数据
                $(':input','#form')
                    .not(':button, :submit, :reset, :hidden')
                    .val('')
                    .removeAttr('checked')
                    .removeAttr('selected');
                //重新载入界面
                window.location.reload();
            }
        })

    })
    // $("#deleteUser").click(function () {
    //     let userId = document.getElementById("deleteUser").getAttribute("userId");
    //     alert(userId)
    // })
    //删除用户
    $(document).on("click","#deleteUser",function () {
    //确认是否删除
        let nickname = $(this).parents("tr").find("td:eq(2)").text();
        let username = $(this).parents("tr").find("td:eq(3)").text();
        let userId = $(this).attr("userId");
        // alert(userId);

        if (confirm("确认删除["+nickname+"]的账号["+username+"]吗？")){
        //    确认就删除
            $.ajax({
                url:"/user_manager/"+userId,
                type:"DELETE",
                success:function(result){
                    alert(result.msg);
                    //重新载入界面
                    window.location.reload();
                }

            })
        }
    })
//    回显用户信息
    $(document).on("click","#editUser",function () {
        $("#editNickname").parent().removeClass("has-error has-success");
        $("#editNickname").next("span").text("");
        $("#editEmail").parent().removeClass("has-error has-success");
        $("#editEmail").next("span").text("");
        $("#editPhone").parent().removeClass("has-error has-success");
        $("#editPhone").next("span").text("");
        let userId = $(this).attr("userId");
        getEmp(userId);
       $("#editSave").attr("userId",userId);
    })

    //    修改用户信息
    $(document).on("click","#editSave",function () {
        if(!validate_edit_form()){
            return false;
        }
        let userId = $(this).attr("userId");
        // alert(formdata.get("userPhoto"))
        $.ajax({
            url:"/editUser/"+userId,
            type:"POST",
            data: $("#editForm").serialize(),
            success:function(result){
                //提示信息
                alert(result.msg);
                //隐藏模态框
                $("#editModal").modal('hide');
                //清除模态框数据
                $(':input','#editForm')
                    .not(':button, :submit, :reset, :hidden')
                    .val('')
                    .removeAttr('checked')
                    .removeAttr('selected');
                //重新载入界面
                window.location.reload();
            }
        })
    })
    //    查询员工信息
    function  getEmp(userId){
    $.ajax({
        url:"/selectUser/"+userId,
        type:"GET",
        success:function(result){
            // console.log(result);
            $("#editUsername").text(result.userName);
            $("#editPassword").text(result.password);
            $("#editNickname").val(result.nickname);
            $("#editEmail").val(result.userEmail);
            $("#editPhone").val(result.userPhone);
        }
    })
    }
    //修改头像
    $(document).on("click","#userPhoto",function () {
        $("#editPhoto").parent().removeClass("has-error has-success");
        $("#editPhoto").next("span").text("");
        let userId = $(this).attr("userId");
        $("#editPhotoSave").attr("userId",userId);

        $("#editPhotoId").attr("value",userId);
    })
    $(document).on("click","#editPhotoSave",function () {
        if(!photo_edit_form()){
            return false;
        }
        let userId = $(this).attr("userId");
        let form = document.getElementById("editPhotoForm");
        var formdata = new FormData(form);
        // alert(formdata.get("userPhoto"))
        $.ajax({
            url:"/edit_photo/"+userId,
            type:"POST",
            data: formdata,
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            success:function(result){
                //提示信息
                alert(result.msg);
                //隐藏模态框
                $("#editPhotoModal").modal('hide');
                //清除模态框数据
                $(':input','#editPhotoForm')
                    .not(':button, :submit, :reset, :hidden')
                    .val('')
                    .removeAttr('checked')
                    .removeAttr('selected');
                //重新载入界面
                window.location.reload();
            }
        })

    })
</script>

</body>
</html>
