<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">

    <title>登录</title>

    <div th:include="common/admin_common :: common_head"></div>
</head>

<body class="login-body">

<div class="container">

    <form class="form-signin" th:action="@{/login}" method="post">
        <div class="form-signin-heading text-center">
            <h1 class="sign-title">登录</h1>
            <img src="images/login-logo.png" alt=""/>
        </div>
        <div class="login-wrap">
            <label><span style="color: #ff0000" class="help_block" th:text="${msg}"></span></label>
            <span style="color: #ff0000" class="help_block" ></span>
            <input type="text" class="form-control" id="userName" placeholder="User ID" name="userName" autofocus>
            <span style="color: #ff0000" class="help_block"></span>
            <input type="password" class="form-control" id="password"  placeholder="Password" name="password">

            <button class="btn btn-lg btn-login btn-block" id="submit" type="submit">
                <i class="fa fa-check"></i>
            </button>

            <div class="registration">
                还没有账号？
                <a class="" th:href="@{/regist}">
                    注册
                </a>
            </div>

        </div>


    </form>

</div>



<!-- Placed js at the end of the document so the pages load faster -->

<!-- Placed js at the end of the document so the pages load faster -->
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/modernizr.min.js"></script>
<script>
    //显示校验信息方法
    function show_validate_msg(ele,status,msg){
        $(ele).parent().removeClass("has-error has-success");
        $(ele).prev("span").text("");
        if ("success"==status){
            $(ele).parent().addClass("has-success");
            $(ele).prev("span").text(msg);
        }else if ("error"==status){
            $(ele).parent().addClass("has-error");
            $(ele).prev("span").text(msg);
        }
    }
    //校验表单数据
    function validate_add_form(){
        //    拿到校验数据，使用正则表达式


        let userName = $("#userName").val();

        if(userName.trim() == ""){
            show_validate_msg("#userName","error","用户名不能为空");
            return false;
        }else {
            show_validate_msg("#userName","success","");
        }


        let password = $("#password").val();
        if(password.trim() == ""){
            show_validate_msg("#password","error","密码不能为空");
            return false;
        }else {
            show_validate_msg("#password","success","");
        }

        return  true;
    }


    $("#submit").click(function() {
        //    模态框填写表单数据交给服务器
        //    进行校验
        if (!validate_add_form()) {
            return false;
        }

        return  true;
    });
</script>
</body>
</html>
